<div class="row tasks-wrapper">
	<div id="content">
		<div class="col-sm-6 zero-padding">
			<div class="col-sm-12 text-center">
				<h3>Incompleted Tasks</h3>
			</div>
			<div class="col-sm-12" id="incompleted_tasks">
				<%= render @incompleted_tasks %>
			</div>
		</div>
		<div class="col-sm-6 zero-padding">
			<div class="col-sm-12 text-center">
				<h3>Comlpeted Tasks</h3>
			</div>
			<div class="col-sm-12" id="completed_tasks">
				<%= render @completed_tasks %>
			</div>
		</div>
	</div>
</div>
